/* 参考: https://ryzn.me/p/beauty-my-blog.html */

body
  background: #e5e6d0 url(/images/bg.jpg) repeat 0 0
  font-size: 0.96em
  line-height: 1.78


.site-brand-container
  background: #172A3A

.site-nav
  font-size: 110%

.sidebar
  font-size: 105%

.header-inner
  border-radius: 0 0 8px 8px

.sidebar-inner
  border-radius: 8px

.post-block + .post-block
  border-radius: 8px

.post-block
  border-radius: 0 0 8px 8px

/* h1.post-title
    background: coral
    background-image: -webkit-linear-gradient(top, coral, coral)
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .05), 0 -1px 0 rgba(255,255,255, .6) inset
    width: 100%
    z-index: 1000
    border-radius: 16px
    padding: 8px 0 */

    /* height: 50px */
    /* cursor: pointer */
    /* margin-top: 10px */
    /* position: fixed */

.posts-expand .post-meta
  margin-bottom: 30px

.post-button
  margin-top: 0

:root
  --content-bg-color: #fafaf3
  --link-color: #A34D32
  --link-hover-color: cadetblue
  --btn-default-bg: #fafaf3
  --btn-default-color: #A34D32
  --btn-default-hover-bg: #CFCF8C
  --btn-default-hover-color: #508991

.btn
  border: 0
